<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 맵핑될 DAO 인터페이스의 Full name 을 줍니다. -->
<mapper namespace="com.web.dao.MemberDAO">

<!--  <resultMap id="MemberResultMap" type="MemberVO">
    <id property="mnum" column="mnum"/>
        <result property="id" column="id"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="hp" column="hp"/>
        <result property="gender" column="gender"/>
        <result property="condition" column="condition"/>
        <result property="adminyn" column="adminyn"/>
        <result property="photo" column="photo"/>
        <result property="offlineyn" column="offlineyn"/>
</resultMap> -->

	<insert id="register" parameterType="com.web.vo.MemberVO">
 		<selectKey keyProperty="mnum" resultType="String" order="BEFORE">
 		     select members_seq.NEXTVAL from dual
		</selectKey>
			INSERT INTO members(
	        mnum
	        ,name
            , ID
            , password
            , hp
            , gender
            , adminyn
            , photo
        ) VALUES (
            #{mnum}
               ,#{name}
                , #{ID}
              , #{password}
              , #{hp}
               , #{gender}
               , #{adminyn}
               , #{photo}
          
        )
	
	</insert>
	<select id="login"  resultType="String">
		SELECT *	
			FROM members	
			WHERE ID= #{id} and password = #{password}  
	</select>
	<!-- 회원전체 리스트 -->
	<select id="memberList" resultType="com.web.vo.MemberVO">
		 SELECT  mnum, name, ID , password , hp , gender, condition , adminyn
		 FROM members  
		 order by mnum desc
		  
	</select>
		<!-- 회원정보 상세조회 -->
	<select id="viewMember" resultType="com.web.vo.MemberVO">
		SELECT 
		  mnum, name, ID , password , hp , gender, condition ,adminyn
		
		FROM members
		WHERE ID= #{id}
	</select>
	
	 <delete id="idremove">
   		delete 
   		from members
   		where ID= #{id} and password = #{password}
   </delete>
	
	
	<!-- 민경 -->
  	<select id="mypageUinfo" resultType="MemberVO" parameterType="String">
		select id, password, name,hp,photo
			from members where mnum = #{mnum}
		
	</select>
	
	<!-- 이름만 -->
	<update id="UnameUpdate" parameterType="String"  > 
		UPDATE MEMBERS
		SET
			NAME =  #{name}
		WHERE 
			MNUM = #{mnum}
	</update>
	
	
 		<!-- 아이디만 -->
	<update id="UidUpdate" parameterType="String"  > 
		UPDATE MEMBERS
		SET
 			ID = #{ID}

		WHERE 
			MNUM = #{mnum}
	</update>
  	<!-- 번호만 -->
	<update id="UhpUpdate" parameterType="String"  > 
		UPDATE MEMBERS
		SET
 			HP = #{hp}
		WHERE 
			MNUM = #{mnum}
	</update> 
	 

</mapper>

